body {
  background-color: #f5cdaa;
}

button {
  font-family: 'Josefin Sans Thin';
  background-color: #cfb495;
  color: #454253;
  width: 200px;
  height: 80px;
  border: none;
  border-radius: 10px;
  font-size: 32px;
  margin: 10px;
}

button:hover {
  background-color: #a58c6f;
}

#butt {
  background-image: url(https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fphotos%2Fimages%2Fnewsfeed%2F001%2F468%2F202%2Fb02.jpg);
  text-align: center;
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

h1 {
  color: #454253;
  font-family: 'Castoro Titling';
}
